{% extends 'index.html' %}
{% load static %}
{% block title %}
  مال
{% endblock %}

{% block body %}
    <!-- Main News Slider Start -->
    <div class="container-fluid py-3">
        <div class="container" style="direction: ltr;">
            <div class="row">
                <div class="col-lg-8">
                    <div class="owl-carousel owl-carousel-2 carousel-item-1 position-relative mb-3 mb-lg-0">
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="{% static 'img/1.jpg' %}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">أخبار إقتصادية</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">يناير 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">وزير المالية: التنظيم الذكي للمؤسسات غير المصرفية أمر ضروري لتخفيف المخاطر والحفاظ على الاستقرار المالي</a>
                            </div>
                        </div>
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="{% static 'img/2.jpg' %}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">أخبار إقتصادية</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">يناير 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">وزير التجارة: السعودية لم تنضم رسمياً بعد لتكتل بريكس</a>
                            </div>
                        </div>
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="{% static 'img/3.jpg' %}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">أخبار إقتصادية</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">يناير 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">وزير الخارجية يؤكد اهتمام المملكة بالأمن الإقليمي وحرية الملاحة في البحر الأحمر</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                        <h3 class="m-0 " > اخر الاخبار</h3>
                        <a class="text-secondary font-weight-medium text-decoration-none" href="">المزيد</a>
                    </div>
                    <div class="position-relative overflow-hidden mb-3 bg-primary" style="height: 80px;">
                        <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none ">
                            الاخبار الاقتصاديه
                        </a>
                    </div>
                    <div class="position-relative overflow-hidden mb-3 bg-primary" style="height: 80px;">
                        <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                           كبار الملاك و توصيات الاسهم
                        </a>
                    </div>
                    <div class="position-relative overflow-hidden mb-3 bg-primary" style="height: 80px;">
                        <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                           CEO
                        </a>
                    </div>
                    <div class="position-relative overflow-hidden mb-3 bg-primary" style="height: 80px;">
                        <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                            مال المدينه
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main News Slider End -->


    <!-- Featured News Slider Start -->
    <div class="container-fluid py-3">
        <div class="container" style="direction: ltr;">
            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                <h3 class="m-0"> توصيات الأسهم</h3>
                <a class="text-secondary font-weight-medium text-decoration-none" href="">المزيد</a>
            </div>
           <div class="row">
            <div class="col-12 col-lg-6">
                <div class="d-flex mb-3">
                    <img src="{% static 'img/1.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">أخبار إقتصادية</a>
                            <span class="px-1">/</span>
                            <span>يناير 01, 2045</span>
                        </div>
                        <a class="h6 m-0" href=""> صنّاع السياسات الاقتصادية من 40 دولة يشاركون في المنتدى العالمي للمدن الذكية</a>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <img src="{% static 'img/101.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">أخبار إقتصادية</a>
                            <span class="px-1">/</span>
                            <span>يناير 01, 2045</span>
                        </div>
                        <a class="h6 m-0" href=""> 
                            أسهم أوروبا تقتفي أثر مكاسب وول ستريت وترتفع لقمة عامين </a>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <img src="{% static 'img/100.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">أخبار إقتصادية</a>
                            <span class="px-1">/</span>
                            <span>يناير 01, 2045</span>
                        </div>
                        <a class="h6 m-0" href=""> أزمة البحر الأحمر ترفع أسعار الشحن الجوي </a>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <img src="{% static 'img/103.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">أخبار إقتصادية</a>
                            <span class="px-1">/</span>
                            <span>يناير 01, 2045</span>
                        </div>
                        <a class="h6 m-0" href=""> البنك العربي الوطني يدشن درة تحوله الرقمي في العالم الافتراضي (ميتافيرس) </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="d-flex mb-3">
                    <img src="{% static 'img/107.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">أخبار إقتصادية</a>
                            <span class="px-1">/</span>
                            <span>يناير 01, 2045</span>
                        </div>
                        <a class="h6 m-0" href="">مليون مستفيد من مشروع “حافلات المدينة” 2023  </a>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <img src="{% static 'img/104.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">أخبار إقتصادية</a>
                            <span class="px-1">/</span>
                            <span>يناير 01, 2045</span>
                        </div>
                        <a class="h6 m-0" href=""> الأنشطة الاقتصادية في المدينة تسجل نموا بنسبة 12.1% خلال الربع الرابع 2023</a>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <img src="{% static 'img/105.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">أخبار إقتصادية</a>
                            <span class="px-1">/</span>
                            <span>يناير 01, 2045</span>
                        </div>
                        <a class="h6 m-0" href="">المدينة تستحوذ 4.2% من إجمالي السجلات التجارية في قطاع صناعة الأدوات والتجهيزات الطبية</a>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <img src="{% static 'img/107.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">أخبار إقتصادية</a>
                            <span class="px-1">/</span>
                            <span>يناير 01, 2045</span>
                        </div>
                        <a class="h6 m-0" href="">مطار الأمير محمد بن عبدالعزيز يترشح للفوز بجائزة أفضل مطار في العالم 2024</a>
                    </div>
                </div>
            </div>
           </div>
           
        </div>
    </div>
    <!-- Featured News Slider End -->


    <!-- Category News Slider Start -->
    <div class="container-fluid">
        <div class="container" style="direction: ltr;">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">   اخبار البورصه  </h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/108.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> الأنشطة الاقتصادية في المدينة تسجل نموا بنسبة 12.1% خلال الربع الرابع 2023 </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/109.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> أمير منطقة المدينة المنورة يلتقي القنصل العام الإيراني بجدة </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/111.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">“الإدارة المالية الجيدة” برنامج تدريبي يُقام في المدينة .. غدا</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">السوق المحليه </h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/112.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> غرفة المدينة تدعو المستثمرين للمشاركة في تنمية القطاع السياحي </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/113.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> ” هيئة النقل” تعلن إطلاق الرصد الآلي على مخالفات الشاحنات والحافلات أبريل المقبل</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/114.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> الشورى” يوافق على مشاريع مذكرات تفاهم وتعاون علمي وتعليمي مع 8 دول </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category News Slider End -->


    <!-- Category News Slider Start -->
    <div class="container-fluid">
        <div class="container" style="direction: ltr;">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">البورصه العالميه </h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/115.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">   iOS 17.4  آبل تطرح نسخة اختبارية من أنظمة </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/116.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> سامسونج تطرح هواتفها الجديدة Galaxy S24 في السعودية .. الأربعاء </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/117.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> فوسيل” تقرر التخلي عن صناعة الساعات الذكية </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">المقالات</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/118.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> صناديق الاستثمار المتداولة.. الاستثمار السهل
                                        نايف مبارك القحطاني </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/119.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> دور “العقلية الجمعية” في إدارة التحول والتغيير
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/200.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> كلفة العمالة غير الماهرة على الاقتصاد السعودي
                                     </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category News Slider End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid py-3">
        <div class="container" style="direction: ltr;">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                <h3 class="m-0">أعمال تك</h3>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">المزيد</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/201.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> أكاديمية السعودية تدشن جهازي المحاكاة لطائرات ايرباص A320neo </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/203.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> وزير الموارد البشرية والتنمية الاجتماعية يطلق “استراتيجية التنمية الشبابية” </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/202.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> “الشورى” يوافق على مشاريع مذكرات تفاهم وتعاون علمي وتعليمي مع 8 دول </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/204.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> عبدالعزيز الترك يتلقى التعازي في وفاة أخيه عبدالرحمن </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/205.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">عبدالعزيز الترك يتلقى التعازي في وفاة أخيه عبدالرحمن </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/206.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> عبدالعزيز الترك يتلقى التعازي في وفاة أخيه عبدالرحمن </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                <h3 class="m-0"> مقالات اخري </h3>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">المزيد</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/202.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> غرفة الأحساء تُطلق مُعسكر الشركات الناشئة</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/201.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> تعرف على عقود الخيارات للأسهم المفردة ..ثالث المنتجات المتداولة في سوق المشتقات المالية في تداول السعودية </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/109.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> هيئة الاتصالات تطلق حملة توعوية عن الحفاظ على البيانات الشخصية تحت عنوان “قصّر معهم” </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/208.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> 18.14 مليار ريال متوسط توقعات 5 بيوت خبرة لأرباح البنوك السعودية خلال الربع الرابع 2023
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/30.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> “هنقرستيشن” تطلق أول خدمة لتوصيل الطلبات داخل نيوم </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/302.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> 549.8 مليار ريال إجمالي قيمة ملكية فئات المستثمرين في أدوات الدين خلال الربع الرابع 2023
                                     </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/301.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> الأنشطة الاقتصادية في المدينة تسجل نموا بنسبة 12.1% خلال الربع الرابع 2023 </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/8.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href=""> انهيار أسهم عملاق التطوير العقاري في الصين”إيفرغراند” بعد حكم قضائي بتصفيتها </a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/11.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">في خطوة تهدف لنشر ثقافة الطيران وعلومه .. نادي الطيران السعودي يدعو لحضور فعالية “رحلة فلاي ان المدينة المنورة”</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/12.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">لبنك المركزي: 530 مليون ريال قيمة المبيعات عبر نقاط البيع في المدينة خلال أسبوع</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 pt-3 pt-lg-0">
                    <!-- Social Follow Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0"> تابعنا</h3>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                                <small class="fab fa-facebook-f mr-2"></small><small>12,345 متصفح يومى</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #52AAF4;">
                                <small class="fab fa-twitter mr-2"></small><small>12,345 متابع</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #0185AE;">
                                <small class="fab fa-linkedin-in mr-2"></small><small>12,345 كاتبين</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #C8359D;">
                                <small class="fab fa-instagram mr-2"></small><small>12,345 محررين</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #DC472E;">
                                <small class="fab fa-youtube mr-2"></small><small>12,345 مشتركين</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #1AB7EA;">
                                <small class="fab fa-vimeo-v mr-2"></small><small>12,345 مطوريين</small>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Newsletter Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">خدمة الأخبار</h3>
                        </div>
                        <div class="bg-light text-center p-4 mb-3">
                            <p>إشترك معنا ليصلك الأخبار لحظة بلحظة</p>
                            <div class="input-group" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="إكتب البريد الألكترونى">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">بحث</button>
                                </div>
                            </div>
                            <small>سيصلك رسالة تأكيد</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->

                    <!-- Ads Start -->
                    <div class="mb-3 pb-3">
                        <a href=""><img class="img-fluid" src="{% static 'img/news-500x280-4.jpg'%}" alt=""></a>
                    </div>
                    <!-- Ads End -->

                    <!-- Popular News Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">المقالات</h3>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/12.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">لبنك المركزي: 530 مليون ريال قيمة المبيعات عبر نقاط البيع في المدينة خلال أسبوع</a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/36.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">أزمة المرور و40 مليون زائر في إكسبو الرياض 2030
                                </a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/35.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">الأثر الاقتصادي من تحسين قوانين خدمة العملاء
                                </a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/34.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">أسباب تحول الفساد إلى حرفالأثر الاقتصادي من تحسين قوانين خدمة العملاء
                                    د. نجلاء عبدالرحمن الحقيل</a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/33.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">التكامل بين التعليم والتنمية
                                    أ.د. خالد بن عواض الثبيتي</a>
                            </div>
                        </div>
                    </div>
                    <!-- Popular News End -->

                    <!-- Tags Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">روابط</h3>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">الاعلان علي الموقع</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">اتصل بنا</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">التوظيف والتدريب</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">حول مال</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">الشروط والاحكام</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">سياسة الخصوصية</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">سياسة الروابط الخارجية</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">مكرر الارباح</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">توزيعات الارباح النقدية</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">متابعه الاكتتابات</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">متابعه المشاريع</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">متابعه الصناديق</a>
                        </div>
                    </div>
                    <!-- Tags End -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- News With Sidebar End -->



{% endblock %}
