{% extends 'index.html' %}
{% load static %}
{% block title %}
  مال
{% endblock %}

{% block body %}
    <!-- Main News Slider Start -->
    <div class="container-fluid py-3">
        <div class="container" style="direction: ltr;">
            <div class="row">
                <div class="col-lg-8">
                    <div class="owl-carousel owl-carousel-2 carousel-item-1 position-relative mb-3 mb-lg-0">
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="{% static 'img/1.jpg' %}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">أخبار إقتصادية</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">يناير 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">وزير المالية: التنظيم الذكي للمؤسسات غير المصرفية أمر ضروري لتخفيف المخاطر والحفاظ على الاستقرار المالي</a>
                            </div>
                        </div>
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="{% static 'img/2.jpg' %}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">أخبار إقتصادية</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">يناير 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">وزير التجارة: السعودية لم تنضم رسمياً بعد لتكتل بريكس</a>
                            </div>
                        </div>
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="{% static 'img/3.jpg' %}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">أخبار إقتصادية</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">يناير 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">وزير الخارجية يؤكد اهتمام المملكة بالأمن الإقليمي وحرية الملاحة في البحر الأحمر</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                        <h3 class="m-0"> اخر الاخبار</h3>
                        <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                    </div>
                    <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/cat-500x80-1.jpg' %}" style="object-fit: cover;">
                        <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                            الاخبار الاقتصاديه
                        </a>
                    </div>
                    <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/cat-500x80-2.jpg' %}" style="object-fit: cover;">
                        <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                            الاخبار العامه
                        </a>
                    </div>
                    <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/8.jpg' %}" style="object-fit: cover;">
                        <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                            مجتمع الاعمال
                        </a>
                    </div>
                    <div class="position-relative overflow-hidden" style="height: 80px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/9.jpg' %}" style="object-fit: cover;">
                        <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                            خدمات
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main News Slider End -->


    <!-- Featured News Slider Start -->
    <div class="container-fluid py-3">
        <div class="container" style="direction: ltr;">
            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                <h3 class="m-0"> توصيات الأسهم</h3>
                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
            </div>


            <div class="owl-carousel owl-carousel-2 carousel-item-4 position-relative">
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid w-100 h-100" src="{% static 'img/12.jpg' %}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-1" style="font-size: 13px;">
                            <a class="text-white" href="">أخبار إقتصادية</a>
                            <span class="px-1 text-white">/</span>
                            <a class="text-white" href="">يناير 01, 2045</a>
                        </div>
                        <a class="h4 m-0 text-white" href="">المدينة تستحوذ 4.2% من إجمالي السجلات التجارية في قطاع صناعة الأدوات والتجهيزات الطبية</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid w-100 h-100" src="{% static 'img/9.jpg' %}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-1" style="font-size: 13px;">
                            <a class="text-white" href="">أخبار إقتصادية</a>
                            <span class="px-1 text-white">/</span>
                            <a class="text-white" href="">يناير 01, 2045</a>
                        </div>
                        <a class="h4 m-0 text-white" href="">مطار الأمير محمد بن عبدالعزيز يترشح للفوز بجائزة أفضل مطار في العالم 2024</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid w-100 h-100" src="{% static 'img/11.jpg' %}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-1" style="font-size: 13px;">
                            <a class="text-white" href="">أخبار إقتصادية</a>
                            <span class="px-1 text-white">/</span>
                            <a class="text-white" href="">يناير 01, 2045</a>
                        </div>
                        <a class="h4 m-0 text-white" href="">تراجع الأسهم الأوروبية مع إحباط المركزي الأوروبي لأمال خفض سريع للفائدة</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid w-100 h-100" src="{% static 'img/12.jpg' %}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-1" style="font-size: 13px;">
                            <a class="text-white" href="">أخبار إقتصادية</a>
                            <span class="px-1 text-white">/</span>
                            <a class="text-white" href="">يناير 01, 2045</a>
                        </div>
                        <a class="h4 m-0 text-white" href="">النفط يهبط مع تركيز المستثمرين على اضطرابات الشرق الأوسط وأسعار الفائدة</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid w-100 h-100" src="{% static 'img/13.jpg' %}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-1" style="font-size: 13px;">
                            <a class="text-white" href="">أخبار إقتصادية</a>
                            <span class="px-1 text-white">/</span>
                            <a class="text-white" href="">يناير 01, 2045</a>
                        </div>
                        <a class="h4 m-0 text-white" href="">مجلس الوزراء: مواصلة التضخم تباطؤه إلى 1.5% واستقرار معدلاته يعكس نجاعة التدابير الاستباقية وإجراءات مواجهة ارتفاع الأسعار عالميا
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- Featured News Slider End -->


    <!-- Category News Slider Start -->
    <div class="container-fluid">
        <div class="container" style="direction: ltr;">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">   اخبار البورصه</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/3.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="">“سابك” تعين سليمان ميرزا في منصب كبير المستشارين</a>
                            </div>
                        </div>
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/12.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="">انتخاب لاحق العتيبي رئيساً للاتحاد العربي للبناء والتنمية العقارية</a>
                            </div>
                        </div>
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/1.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="">وزارة المالية تعلن بدء القبول في برنامج التدريب التعاوني</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">السوق المحليه </h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/news-500x280-4.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="" > القوى المؤثرة والتأثيرات الخارجية على الأعمال
                                </a>
                            </div>
                        </div>
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/13.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="">تراجع الأسهم الأوروبية إحباط المركزي الأوروبي لأمال خفض للفائدة</a>
                            </div>
                        </div>
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/14.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="">الرئيس التنفيذي نخطط لطرح طيران ناس في سوق الأسهم السعودية
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Category News Slider End -->


    <!-- Category News Slider Start -->
    <div class="container-fluid">
        <div class="container" style="direction: ltr;">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">البورصه العالميه </h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/16.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="">الهيئة العامة للعقار تعلن بدء أعمال السجل العقاري في مكة المكرمة
                                </a>
                            </div>
                        </div>
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/17.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href=""> آبل تعيد تنظيم جهودها في مجال الذكاء الاصطناعي
                                </a>
                            </div>
                        </div>
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/22.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="">“بلومبيرغ”: “نايس ون” تخطط لطرح عام أولي في السوق السعودية</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">المقالات</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/23.jpg' %}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="">“وسم الأعمال” تفوز بترسية مشروع مع بنك التنمية الاجتماعية</a>
                            </div>
                        </div>
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/24.jpg'%}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href=""> تداعيات باب المندب ترفع تكلفة الشحن والتأمين وتطال المستهلك</a>
                            </div>
                        </div>
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/25.jpg'%}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">أخبار إقتصادية</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h4 m-0" href="">آبل تعيد تنظيم جهودها في مجال الذكاء الاصطناعي</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Category News Slider End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid py-3">
        <div class="container" style="direction: ltr;">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                <h3 class="m-0">أعمال تك</h3>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{% static 'img/26.jpg'%}" style="object-fit: cover;">
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h4" href="">وزارة المالية تعلن بدء القبول في برنامج التدريب التعاوني</a>
                                    <p class="m-0">مركز الإقامة المميزة : 6 اشتراطات للحصول على إقامة ” مالك عقار “</p>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/1.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">فلاورد” تخطط لطرح عام في السوق السعودية مطلع 2024</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/2.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">بدعم من ولي العهد .. تعرف على ضواحي الوطنية للاسكان .. “الفرسان” و”خزام -2″</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{% static 'img/27.jpg'%}" style="object-fit: cover;">
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h4" href="">الصندوق السيادي القطري يشعر بالقلق تجاه عقارات لندن</a>
                                    <p class="m-0"> مركز الإقامة المميزة : 6 اشتراطات للحصول على إقامة ” مالك عقار “</p>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/5.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">بالأنفوجرافيك .. تعرف على جزيرة سندالة في نيوم</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/4.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">وزارة الطاقة تطلق برنامج “طاقات واعدة” لدعم احتياجات قطاع الطاقة</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                <h3 class="m-0"> خدمات </h3>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{% static 'img/7.jpg'%}" style="object-fit: cover;">
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h4" href="">الخطوط السعودية الخامسة عالميا إلتزاما بالمواعيد</a>
                                    <p class="m-0">مدينة ذكية تعزز الاستدامة وتوظف التقنيات الحديثة
                                        الخطوط السعودية الخامسة عالميا إلتزاما بالمواعيد</p>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/11.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">في خطوة تهدف لنشر ثقافة الطيران وعلومه .. نادي الطيران السعودي يدعو لحضور فعالية “رحلة فلاي ان المدينة المنورة”</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/12.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">لبنك المركزي: 530 مليون ريال قيمة المبيعات عبر نقاط البيع في المدينة خلال أسبوع</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{% static 'img/8.jpg'%}" style="object-fit: cover;">
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h4" href="">العثيم سيركل.. وجهة استثمارية وترفيهية في المنطقة الشرقية</a>
                                    <p class="m-0">بـ الموشن جرافيك .. “ماربل ديزاين” المتوقع إدراجها في السوق الموازية “نمو” تحقق أرباحا بـ 23 مليون </p>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/6.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">في خطوة تهدف لنشر ثقافة الطيران وعلومه .. نادي الطيران السعودي يدعو لحضور فعالية “رحلة فلاي ان المدينة المنورة”</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img src="{% static 'img/8.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">أخبار إقتصادية</a>
                                        <span class="px-1">/</span>
                                        <span>يناير 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" href="">هيئة البحر الأحمر” توقّع مذكرتي تفاهم لتطوير وتشجيع السياحة الساحلية في البحر الأحمر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 pt-3 pt-lg-0">
                    <!-- Social Follow Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0"> تابعنا</h3>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                                <small class="fab fa-facebook-f mr-2"></small><small>12,345 متصفح يومى</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #52AAF4;">
                                <small class="fab fa-twitter mr-2"></small><small>12,345 متابع</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #0185AE;">
                                <small class="fab fa-linkedin-in mr-2"></small><small>12,345 كاتبين</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #C8359D;">
                                <small class="fab fa-instagram mr-2"></small><small>12,345 محررين</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #DC472E;">
                                <small class="fab fa-youtube mr-2"></small><small>12,345 مشتركين</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #1AB7EA;">
                                <small class="fab fa-vimeo-v mr-2"></small><small>12,345 مطوريين</small>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Newsletter Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">خدمة الأخبار</h3>
                        </div>
                        <div class="bg-light text-center p-4 mb-3">
                            <p>إشترك معنا ليصلك الأخبار لحظة بلحظة</p>
                            <div class="input-group" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="إكتب البريد الألكترونى">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Yajv;</button>
                                </div>
                            </div>
                            <small>سيصلك رسالة تأكيد</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->

                    <!-- Ads Start -->
                    <div class="mb-3 pb-3">
                        <a href=""><img class="img-fluid" src="{% static 'img/news-500x280-4.jpg'%}" alt=""></a>
                    </div>
                    <!-- Ads End -->

                    <!-- Popular News Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">المقالات</h3>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/12.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">لبنك المركزي: 530 مليون ريال قيمة المبيعات عبر نقاط البيع في المدينة خلال أسبوع</a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/36.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">أزمة المرور و40 مليون زائر في إكسبو الرياض 2030
                                </a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/35.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">الأثر الاقتصادي من تحسين قوانين خدمة العملاء
                                </a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/34.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">أسباب تحول الفساد إلى حرفالأثر الاقتصادي من تحسين قوانين خدمة العملاء
                                    د. نجلاء عبدالرحمن الحقيل</a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/33.jpg'%}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">أخبار</a>
                                    <span class="px-1">/</span>
                                    <span>يناير 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">التكامل بين التعليم والتنمية
                                    أ.د. خالد بن عواض الثبيتي</a>
                            </div>
                        </div>
                    </div>
                    <!-- Popular News End -->

                    <!-- Tags Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">روابط</h3>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">الاعلان علي الموقع</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">اتصل بنا</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">التوظيف والتدريب</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">حول مال</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">الشروط والاحكام</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">سياسة الخصوصية</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">سياسة الروابط الخارجية</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">مكرر الارباح</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">توزيعات الارباح النقدية</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">متابعه الاكتتابات</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">متابعه المشاريع</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">متابعه الصناديق</a>
                        </div>
                    </div>
                    <!-- Tags End -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- News With Sidebar End -->



{% endblock %}
